{% extends 'base.html' %}

{% block bodyblock %}

    <div class="container">
    <h3>Fraud Detection Model</h3>
    </div>

    <div class="container">
        <br>
        <form action="#" method="post" enctype="multipart/form-data">
            <label for="upload">Please type the information separated by ";" </label>
            <label for="upload">The columns are: "genero", "monto", "tipo_tc", "linea_tc", "interes_tc", "status_txn", "is_prime", "dcto", "cashback", "OS" and "DEVICE_SCORE" </label>
            <label for="upload">For example: M;27.466136;Física;34000;51;Aceptada;False;0.000000;0.274661;ANDROID;1 </label>
            <br/>
            <textarea name="message" rows="4" placeholder="Enter the description" cols="50"></textarea>
            <br/>
            <input type="submit" value="Predict">
            <br>
            <br>
        </form>

    </div>

      {% if fileupload  %}

        <br/>
    	<p style="color:blue;font-size:20;text-align: center;"><b>Results</b></p>
    	<div class="results", id="results">
    
        	{% if prediction[0] == 1%}
            	<h2 style="color:red;">This transaction may be a fraud</h2>
            	<p style="color:red;">
                Transaction data: {{desc1}}
                </p>
            	<h2 style="color:red;">Probability of fraud: {{prediction[1]}}</h2>
	   	        <br>
	   	        <div align="center">
                <img src="{{ url_for('static',filename='images/semaforo_rojo1.PNG') }}" alt="" width="100" height="100">
                </div>
                <br>
                <h2 style="color:red;">Shap Value</h2>
                <div align="center">
                <img src="{{ url_for('static',filename='images/shap_pred.png') }}" alt="" width="1000" height="250">
                </div>
                <br>
        	{% elif prediction[0] == 0%}
            	<h2 style="color:blue;">This transaction may not be a fraud</h2>
	            <p style="color:blue;">
                Transaction data: {{desc1}}
                </p>
            	<h2 style="color:blue;">Probability of fraud: {{prediction[1]}}</h2>
    	        <br>
    	        <div align="center">
                <img src="{{ url_for('static',filename='images/semaforo_verde1.PNG') }}" alt="" width="100" height="100">
                </div>
                <br>
                <h2 style="color:blue;">Shap Value</h2>
                <div align="center">
                <img src="{{ url_for('static',filename='images/shap_pred.png') }}" alt="" width="1000" height="250">
                </div>
                <br>
        	{% endif %}
    	</div>

    <style>
        #results{
            border: solid;
            color:#002f4d;
            text-align: center;
        }
    </style>


    {% endif %}

{% endblock %}