{% extends 'base.html' %}

{% block bodyblock %}
    <div class="container">
        <br>
        <h3 class="content">Fraud detection algorithm</h3>

        <p class="content">
            This algorithm is driven by data and we have created a machine learning model to
            help the detection of fraudulent transactions.
            
            After training our model, we have detected that the most important features that
            contributes to the prediction of the probability of a transaction being fraud are
            the Credit Line, the score of the device were the transaction is made and the amount
            of the transaction.
        </p>
            Here you can see the most important feautes in descending order.
        <br>
            It highlights the correlations in colors between the feature and the targer. 
            The red color means a feature is positively correlated with the target variable (fraud).
        <br>
        <img src="{{ url_for('static',filename='images/descarga.png') }}" alt="" width="400" height="330">
        <br>
        <div align="center">
            <a class="btn btn-outline-primary" href="{{ url_for('conclusion') }}">Try it now</a>
            <br>
            <br>
        </div>
       
    </div>


{% endblock  %}