{% extends 'base.html' %}

{%block bodyblock %}

        <div class="container">
            <br><br>
            <h3 class="content"> Rappi Challenge - Fraud Detection</h3>
        <br>
            <p>
                This web application is intended to help our team to detect fraudulent 
                transaccions. We have create a machine learning model that is capable 
                of detecting fraudsters.
                
            <br>
                <img src="{{ url_for('static',filename='images/fraud-figure.svg') }}" alt="" width="600" height="230">
            <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </p>
        </div>

{% endblock  %}